{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Join GLIF"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block body %}

<!-- intro page -->
<div class = "container recruit-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">2019 상반기 Recruiting</h1>
        <p class="lead">성균관대학교 글로벌경제학과 금융학회 GLIF가 신입부원을 모집합니다.</p>
        <hr class="my-4">
        <div>
            <h2 class = "lead">Requirements</h2>
            <p>2학기 이상 수료한 재학생 및 수료생으로, 2학기 이상 성실하게 연속활동이 가능한 글경제인</p>
            <h2 class = "lead">How to apply</h2>
            <p>
                <li style = "list-style-type: none;"><i class="fas fa-check"></i> 지원기한: 3월 8일(금) 자정</li>
                <li style = "list-style-type: none;"><i class="fas fa-check"></i> 개별면접: 3월 9일(토) 실시, 시간은 개별통보</li>
                <li style = "list-style-type: none;"><i class="fas fa-check"></i> 사전 설명회: 3월 7일(목)</li>
            </p>

        </div>
        {% if user.is_authenticated and user.is_applicant %}
            <a class="btn btn-dark btn-lg" href="/accounts/applicant/userinfo/{{ user.applicant.pk }}">Go To Application Form</a>
        {% else %}
            <a class="btn btn-dark btn-lg" href="#" onclick = "alertNoPermissionAsApplicant()">Go To Application Form</a>
        {% endif %}

        {% if user.is_authenticated and user.is_glifer %}
            <a class="btn btn-dark btn-lg" href="/recruiting/list" >See Application Status</a>
        {% endif %}
    </div>
</div>

<!-- login modal -->
<div class="modal fade" id="recruit_login" tabindex="-1" role="dialog" aria-labelledby="recruit_login_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="recruit_login_Label">Applicant Identification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="" method="post" id="login-form" class="login-form" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Applicant Authentification</p>
                {{form.as_p }}

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

{% block js %}

{% load static %}

<script src="{% static 'recruiting/js/recruiting.js'%}"></script>

{% endblock %}

{% endblock %}
