<!-- navbar -->
{% include "../../partials/header.html" %}

<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3 .hidden-phone">
            <p class = "lead">ABOUT US</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark"> <a href="/aboutus/introduction">Introduction</a> </li>
                <li class = "list-group-item list-group-item-dark active"> <a href="/aboutus/glifers">GLIFers</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9">
            <!-- mini nav-bar -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">OB</a></li>
                    <li class="breadcrumb-item"><a href="#">1기</a></li>
                    <li class="breadcrumb-item"><a href="#">2기</a></li>
                    <li class="breadcrumb-item"><a href="#">3기</a></li>
                    <li class="breadcrumb-item active" aria-current="page">4기</li>
                    <li class="breadcrumb-item"><a href="#">Developers</a></li>
                </ol>
            </nav>
            
            <ul class="list-unstyled">
                <li class="media">
                    <img src="../../../static/images/dongmin.jpg" class="align-self-start mr-3 profile-img" alt="...">
                    <div class="media-body">
                    <h5 class="mt-0 mb-1">Dongmin Kim</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- footer -->
{% include "../../partials/footer.html" %}
