{% extends 'setups/base.html' %}

{% block body %}

<div class="container">
    <!-- <img src="../../../../static/images/gliflinklogo.png" alt="" srcset=""> -->
    <h1>Global News Clipping</h1>
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class = "form-group">
            <div>
                <label for="{{ form.title.id_for_label }}">Title: </label>
                {{ form.title }}
            </div>
            
            <div>
                <label for="{{ form.news_type.id_for_label }}">News Type: </label>
                {{ form.news_type }}
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <p>English</p>
                <div class="form-group">
                    {{ form.title_1_en }}
                    {{ form.content_1_en }}
                </div>
                
                <div class="form-group">
                    {{ form.title_2_en }}
                    {{ form.content_2_en }}
                    <!-- <input class="form-control" id="second-en" name="second-en" type="text" placeholder="Second Article" />              
                    <textarea class="form-control" cols="40" id="second-en" name="second-en" rows="10"></textarea> -->
                </div>
                
                <div class="form-group">
                    {{ form.title_3_en }}
                    {{ form.content_3_en }}
                    <!-- <input class="form-control" id="third-en" name="third-en" type="text" placeholder="Third Article" />                   
                    <textarea class="form-control" cols="40" id="third-en" name="third-en" rows="10"></textarea> -->
                </div>
            </div>
            <div class="col">
                <p>Korean</p>
                <div class="form-group">
                    {{ form.title_1_kr }}
                    {{ form.content_1_kr }}
                    <!-- <input class="form-control" id="first-kr" name="first-kr" type="text" placeholder="First Article" />                   
                    <textarea class="form-control" cols="40" id="first" name="first" rows="10"></textarea> -->
                </div>
                
                <div class="form-group">
                    {{ form.title_2_kr }}
                    {{ form.content_2_kr }}
                    <!-- <input class="form-control" id="second-kr" name="second-kr" type="text" placeholder="Second Article" />              
                    <textarea class="form-control" cols="40" id="second" name="second" rows="10"></textarea> -->
                </div>
                
                <div class="form-group">
                    {{ form.title_3_kr }}
                    {{ form.content_3_kr }}
                    <!-- <input class="form-control" id="third-kr" name="third-kr" type="text" placeholder="Third Article" />                   
                    <textarea class="form-control" cols="40" id="third-kr" name="third-kr" rows="10"></textarea> -->
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-dark" name="submit" type="submit">
                Submit
            </button>
        </div>
    </form>
    
</div>

{% endblock %}
