{% extends 'setups/base.html' %}

{% block body %}

<div class="container">
    <h1>Global News Clipping</h1>
    <hr>
    
    <form action="" method="POST">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form.title|as_crispy_field }}
        {{ form.news_type|as_crispy_field }}
        <hr>

        <div class="row">
            <div class="col-6">
                <p class = "lead">English</p>
            </div>
            <div class="col-6">
                <p class = "lead">Korean</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.title_1_en|as_crispy_field }}
                {{ form.content_1_en|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.title_1_kr|as_crispy_field }}
                {{ form.content_1_kr|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                {{ form.title_2_en|as_crispy_field }}
                {{ form.content_2_en|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.title_2_kr|as_crispy_field }}
                {{ form.content_2_kr|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                {{ form.title_3_en|as_crispy_field }}
                {{ form.content_3_en|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.title_3_kr|as_crispy_field }}
                {{ form.content_3_kr|as_crispy_field }}
            </div>
        </div>
        <hr>
    
        <div class = "row align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-dark ">Save!</button>
        </div>
    </form>
    
</div>

{% endblock %}
