<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>{{post.title}} ({{post.news_type}})</h1>
    <h2>{{post.written_date}}</h2>
    <h3>{{post.writer}}</h3>
    
    <div>
        <div>
            <h3>{{post.title_1_en}}</h3>
            <p>
                {{post.content_1_en}}
            </p>
        </div>
        <div>
            <h3>{{post.title_1_kr}}</h3>
            <p>
                {{post.content_1_kr}}
            </p>
        </div>   
    </div>
    
    <div>
        <div>
            <h3>{{post.title_2_en}}</h3>
            <p>
                {{post.content_2_en}}
            </p>
        </div>
        <div>
            <h3>{{post.title_2_kr}}</h3>
            <p>
                {{post.content_2_kr}}
            </p>
        </div>   
    </div>


    <div>
        <div>
            <h3>{{post.title_3_en}}</h3>
            <p>
                {{post.content_3_en}}
            </p>
        </div>
        <div>
            <h3>{{post.title_3_kr}}</h3>
            <p>
                {{post.content_3_kr}}
            </p>
        </div>   
    </div>    

</body>
</html>