boto3==1.9.86
botocore==1.12.86
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.11.5
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.5
django-ckeditor==5.6.1
django-crispy-forms==1.7.2
django-easy-pdf==0.1.1
django-js-asset==1.1.0
django-storages==1.7.1
django-weasyprint==0.5.4
docutils==0.14
freeze==1.0.10
html5lib==1.0.1
jmespath==0.9.3
Pillow==7.1.0
pycparser==2.19
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.7.5
python-decouple==3.1
pytz==2018.7
reportlab==3.5.13
s3transfer==0.1.13
six==1.12.0
tinycss2==0.6.1
urllib3==1.24.1
webencodings==0.5.1
xhtml2pdf==0.2.3
