{% extends 'setups/base.html' %}

{% block body %}
    <div class = "container container-border">
        <h1>{{post.title}}</h1>
        <div>
            {% if post.attached_file != '' %}
                <span>첨부파일: {{post.attached_file}}</span>
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/indepthanalysis/{{post.pk}}/download'">Download</button>
            {% endif %}
        </div>
        <div>
            {{ post.content | safe }}
        </div>
        <div class = "row align-items-center justify-content-center">
            <button type="button" class="btn btn-outline-dark" onclick="location.href = '/indepthanalysis/{{post.pk}}/update'">update</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href = '/indepthanalysis/{{post.pk}}/delete'">delete</button>
        </div>
    </div>
{% endblock %}




