
{% extends 'setups/base.html' %}

{% block body %}
    <div class = "container">
        <h1>Leave Comment</h1>
        {% load crispy_forms_tags %}
        <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
            {% csrf_token %}
        
            {{ form.text|as_crispy_field }}
            
            <div class = "row align-items-center justify-content-center">
                <button type="submit" class="btn btn-lg btn-dark ">Send!</button>
            </div>
        </form>
    </div>
{% endblock %}