{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Resume Coaching: {% post.title %}"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block body %}
    <div class = "container container-border">
        <h1>{{post.title}}</h1>
        <div class = "text-right">
            <span>Written at {{ post.written_date }}, by {{post.writer.name_en}}</span>
            <hr>
        </div>
        <div>
            {% if post.attached_file != '' %}
                <hr>
                <span>첨부파일: {{post.attached_file}}</span>
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/announcement/{{post.pk}}/download'">Download</button>
                <hr>
            {% endif %}
        </div>
        <div>
            {{ post.content | safe }}
        </div>
        <div class = "row align-items-center justify-content-center">
            <button type="button" class="btn btn-outline-dark" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/update'">update</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/delete'">delete</button>
        </div>
    </div>
    {{ post.pk }}
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>    
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    
   
{% endblock %}