{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Resume Coaching: {{ post.title }}"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block body %}
    <div class = "container container-border">
        <h1>{{post.title}}</h1>
        <hr>
        <div class = "text-right">
            <span>Written at {{ post.written_date }}, by {{post.writer.name_en}}</span>
            <hr>
        </div>
        <div>
            {% if post.attached_file != '' %}
                <hr>
                <span>첨부파일: {{post.attached_file}}</span>
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/announcement/{{post.pk}}/download'">Download</button>
                <hr>
            {% endif %}
        </div>
        <div class = "post-content">
            {{ post.content | safe }}
        </div>

        {% if request.user == post.writer.user %}
            <div class = "row align-items-center justify-content-center">
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/update'">update</button>
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/delete'">delete</button>
            </div>
        {% endif %}

        <div>
            
            <hr>
            <p class = "lead">Comments</p>
            <a class="btn btn-outline-dark" href="{% url 'add_comment_to_post' pk=post.pk %}">Leave Comment</a>
            <br>
            <br>
            {% for comment in post.comments.all %}
                <div class = "comment row">
                    <div style = "padding-bottom : 1.0rem;" class = "media-left media-top col-md-3 col-xs-12 col-lg-2 ">
                        <img src="{{ comment.writer.profile_img.url }}" class="mr-3 profile-img" alt="...">
                    </div>
                    <div class="media-body col-md-9 col-xs-12 col-lg-10">
                        <h5 class="mt-0 mb-1">{{comment.writer}}  
                            {% if request.user == comment.writer.user %}
                                <button type="button" class="btn btn-outline-dark btn-download" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/comment/{{comment.pk}}/edit'"><i class="far fa-edit"></i></button>
                                <button type="button" class="btn btn-outline-dark btn-download" onclick="location.href = '/gliferonly/resume_coaching/{{post.pk}}/comment/{{comment.pk}}/delete'"><i class="far fa-trash-alt"></i></button>
                            {% endif %}
                        </h5> 
                        <span>{{comment.created_date}}</span>
                        <hr>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>    
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>
    </div>
    
   
{% endblock %}