<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta sets -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- meta:og class -->
    <meta property="og:title" content= "GLIF"/>
    <meta property="og:description" content= "Global Leaders In Finance"/>
    <meta property="og:image" content= "https://www.stevens.edu/sites/stevens_edu/files/styles/image_feature_1280x420/public/quantitative_finance-71606587_0.jpg?itok=WT5elhQn"/>

    <title>GLIF</title>

    <!-- css links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/aboutUs.css">
    <link rel="stylesheet" href="../../static/css/daily.css">
    <link rel="stylesheet" href="../../static/css/recruit.css">

    <!-- font awesome: icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- favicons -->
    <link rel="shortcut icon" href="../../static/favicons/Oxygen-Icons.org-Oxygen-Actions-rating.ico">

    

</head>
<body>
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class = "navbar-brand" href = "/"><img class = "logo-img" src="../../static/images/gliflinklogo.png"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    AboutUs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/aboutus/introduction">Introduction</a>
                    <a class="dropdown-item" href="/aboutus/glifers">GLIFERS</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/announcement">Announcements <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    Daily
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/daily/overview">Overview</a>
                    <a class="dropdown-item" href="/daily/newsclipping">Daily News Clipping</a>
                    <a class="dropdown-item" href="/daily/market">Daily Market Analysis</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/indepthanalysis">In-depth Analysis <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/recruiting">Recruiting <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    GLIFERS-Only
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/gliferonly/review">Recruiting Review</a>
                    <a class="dropdown-item" href="/gliferonly/admin">Administration</a>
                </div>
            </li>
        </ul>

        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text">
                Hello, glifer1234. 
            </span>
        </nav>

        
        <ul class="nav navbar-nav navbar-right">
            <li class = "authentification"> <a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a> </li>
            <li class = "authentification"> <a href="/login">Login</a> </li>
            <li class = "authentification"> <a href="/signup" data-toggle="modal" data-target="#logoutModal">Sign up</a> </li>
        </ul>

        </div>
    </nav>
        

        
        
        
              
    
    
    