<!-- navbar -->
{% include "../../partials/header.html" %}

<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3">
            <p class = "lead">Daily</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/overview">Overview</a> </li>
                <li class = "list-group-item list-group-item-dark active"> <a href="/daily/news">Daily News Clipping</a></li>
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/market">Daily Market Analysis</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9">
            

            <div class = "thumbnail">

            </div>
        </div>
    </div>
</div>

<!-- footer -->
{% include "../../partials/footer.html" %}
