@media (max-width: 767px) {
    h1.intro-title {
        padding-top: 1rem;
        font-size: 2.0rem;
    }
}

.profile-img{
    width: 110px;
    height: 143px;
    border-radius: 15px;
}

.main-contents-korean{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5rem;
}