@media (max-width: 768px) {
    .table {
        width: 100%;
        font-size: 1em;
    }
}
.container {
    margin-top: 100px;
    margin-bottom: 100px;
    border-left : 1px solid gray;
    border-right : 1px solid gray;
    padding : 0 2.0rem;
}
/* button */
.btn {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.btn.btn-download {
    padding: 2px 4px;
}

/* grid system - side bar with table */
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #343a40!important;
    border-color: #343a40!important;
}

/* only tables */
a.page-link {
    color: #343a40!important;
}

div.col-md-8.col-sm-8.col-xs-12 {
    margin: auto;
}


/* pagination */

.page-item.active {
    background-color: gold;
}