{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Introduction"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block css %}
<!-- Additional CSS Goes HERE -->
{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Charm|Nanum+Myeongjo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
<link rel="stylesheet" href="{% static 'aboutus_introduction/css/intro.css' %}">
{% endblock %}

{% block body %}
<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3">
            <p class = "lead">ABOUT GLIF</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark active"> <a href="/aboutus/introduction">Introduction</a> </li>
                <li class = "list-group-item list-group-item-dark"> <a href="/aboutus/glifers/OB">GLIFERs</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9 text-md-left">
            <div>
                <h1 class = "intro-title">About GLIF.</h1>
                <hr>
                <p>
                    <p><strong>GLIF (Global Leaders in Finance, 글리프)</strong>는 성균관 대학교 글로벌 경제학과 최초의 금융학회입니다.</p>  
                    
                    <p>
                        GLIF의 설립 목적은 두 가지 입니다. <br>
                        1) 실무적 금융지식을 갖춘 Finance Expert 양성. <br>
                        2) 글로벌 경제학과 출신 금융인들의 Network 형성. <br>
                    </p>
                    
                    <p>
                        전세계 금융권 현장 곳곳에서의 다양한 경험을 기반으로 한 OB의 노하우와 이를 바탕으로 짜여진 학회 커리큘럼을 통하여 학회원 및 예비 GLIFER들에게 금융권 진출의 길을 제시하겠습니다.
                    </p>
                                        
                </p>
            </div>

            <div>
                <h1 class = "intro-title">Curriculums.</h1>
                <hr>
                <p>
                    GLIF의 커리큘럼은 Daily Market Summary와 Main Session을 통한 실무적 금융지식 함양에 초점을 맞추고 있습니다.
                </p>
                <hr>
                <ul class="list-unstyled">
                    <div class = "row">
                        <div style = "margin-bottom : 0.5rem;" class = "media-left media-top col-md-3 col-xs-12 col-lg-2">
                            <img src="../../static/aboutus_introduction/images/report.jpg" class="mr-3 profile-img" alt="...">
                        </div>
                        <div class="media-body col-md-9 col-xs-12 col-lg-10">
                        <h5 class="mt-0 mb-1">Daily Market Summary</h5>
                            <p>
                                1) Wall Street Journal / Financial Times / Bloomberg에서의 기사 선별부터 번역, 이슈에 대한 핵심 이해를 통한 현재 진행형 금융 지식을 함양합니다.
                            </p>
                            <p>
                                2) 대표적 금융시장인 Equity, Fixed Income & Commodity 시장의 글로벌 시황을 Daily-basis로 Follow-up하여 금융시장에 대한 간접적 경험 및 본인만의 금융시장 View를 형성합니다.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class = "row">
                        <div style = "margin-bottom : 0.5rem;" class = "media-left media-top col-md-3 col-xs-12 col-lg-2 ">
                            <img src="../../static/aboutus_introduction/images/present.jpg" class="mr-3 profile-img" alt="...">
                        </div>
                        <div class="media-body col-md-9 col-xs-12 col-lg-10">
                            <h5 class="mt-0 mb-1">Main Session [In-depth Analysis]</h5>
                            비슷한 관심사로 구성된 조원들과 함께 Academic Background를 학습하고, 금융시장의 다양한 이슈에 대한 리서치를 진행합니다. 또한 매주 진행되는 세션에서 현직자 패널, 학회원들과 함께 발표, 토론을 진행합니다.
                        </div>
                    </div>
                    <hr>
                    <div class = "row">
                        <div style = "margin-bottom : 0.5rem;" class = "media-left media-top col-md-3 col-xs-12 col-lg-2 ">
                            <img src="../../static/aboutus_introduction/images/glifer.jpg" class="mr-3 profile-img" alt="...">
                        </div>
                        <div class="media-body col-md-9 col-xs-12 col-lg-10">
                            <h5 class="mt-0 mb-1">Main Session [OB GLIFERs 초청]</h5>
                            다양한 금융권에 종사하고 있는 선배 GLIFER들을 초청하여 업무 분야, Career Path, 필요 지식에 대한 강의와 멘토링을 진행합니다. 효율적이고 올바른 Career Building을 위한 필수적인 정보 습득 및 현직자 Network 형성 기회를 제공합니다.
                        </div>
                    </div>
                </ul>
                        
            </div>                    

            <div>
                <h1 class = "intro-title">GLIF with Samsung Securities.  </h1>
                <hr>
                <div class = "text-right">
                    <!-- <img src="../../static/aboutus_introduction/images/samsung_logo.gif" alt="" srcset=""> -->
                </div>
                <!-- <hr> -->
                <p>
                    2019년 1학기부터 GLIF는 국내 자본시장을 선도하는 삼성증권(Samsung Securities)사와 함께 학회활동을 함께하게 되었습니다. <br>
                    1. 임원진 및 실무자특강<br>
                    2. 멘토의 정기 세션참관 및 피드백<br>
                    3. 공채 시즌 취업 Mentoring 의 분야 및,<br>
                    학회 연계과제 부여, 인턴활동 기회 등,<br> 
                    금융권으로의 첫 발을 내딛기를 소망하는 GLIF 학회원들에게 소중한 기회를 제공합니다.  
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

