{% extends 'setups/base.html' %}

{% block body %}
<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3 .hidden-phone">
            <p class = "lead">ABOUT US</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark"> <a href="/aboutus/introduction">Introduction</a> </li>
                <li class = "list-group-item list-group-item-dark active"> <a href="/aboutus/glifers/OB">GLIFERs</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9">
            <!-- mini nav-bar -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/OB">OB</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/1기">1기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/2기">2기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/3기">3기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/4기">4기</a></li>
                </ol>
            </nav>

            <ul class="list-unstyled">
                {% for glifer in glifers %}
                    <li class="media">
                        <img src="{{ glifer.profile_img.url }}" class="align-self-start mr-3 profile-img" alt="...">
                        <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ glifer.name_kr }} / {{ glifer.name_en }} / {{ glifer.work_at }}</h5>
                        {{ glifer.self_intro }}
                        </div>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

    {% block js %}

    {% load staticfiles %}
    <script src="{% static 'aboutus_glifers/js/index.js' %}"></script>

    {% endblock %}

{% endblock %}

