{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Introduce GLIFERs"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block css %}

{% load static %}

<link rel="stylesheet" href="{% static 'aboutus_glifers/css/index.css' %}">

{% endblock %}

{% block body %}
<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3">
            <p class = "lead">ABOUT GLIF</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark"> <a href="/aboutus/introduction">Introduction</a> </li>
                <li class = "list-group-item list-group-item-dark active"> <a href="/aboutus/glifers/OB">GLIFERs</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9">
            <!-- mini nav-bar -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/OB">OB</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/1기">1기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/2기">2기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/3기">3기</a></li>
                    <li class="breadcrumb-item"><a href="/aboutus/glifers/4기">4기</a></li>
                </ol>
            </nav>

            <ul class="list-unstyled">
                {% for glifer in glifers %}
                    {% if glifer.is_authorized %}
                    <!-- <li class="media"> -->
                        <div class = "row">
                            <div style = "padding-bottom : 1.0rem;" class = "media-left media-top col-md-3 col-xs-12 col-lg-2 ">
                                <img src="{{ glifer.profile_img.url }}" class="mr-3 profile-img" alt="...">
                            </div>
                            <div class="media-body col-md-9 col-xs-12 col-lg-10">
                                <h5 class="mt-0 mb-1">{{ glifer.name_kr }} {{ glifer.name_en }} 
                                    {% if glifer.work_at != '' %}
                                        | {{ glifer.work_at }}</h5>
                                    {% else %}
                                        </h5>
                                    {% endif %}
                                {{ glifer.self_intro }}
                                <br>
                                <br>
                                <div>
                                    {% if glifer.career_cur_detail != '' %}
                                        現) {{ glifer.career_cur_detail }}
                                    {% endif %}
                                </div>
                                <div>
                                    {% if glifer.career_prev_1_detail != '' %}
                                        前) {{ glifer.career_prev_1_detail }}
                                    {% endif %}
                                </div>
                                <div>
                                    {% if glifer.career_prev_2_detail != '' %}
                                        前) {{ glifer.career_prev_2_detail }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    <!-- </li> -->
                    <hr>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}

