<!-- header part -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta sets -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- meta:og class -->
    <meta property="og:title" content= "GLIF"/>
    <meta property="og:description" content= "Global Leaders In Finance"/>
    <meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>

    <title>GLIF</title>

    {% load staticfiles %}
    <!-- css links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'setups/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'setups/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'setups/css/aboutUs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'setups/css/daily.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'setups/css/recruit.css' %}">



    {% block css %}
    <!-- Additional CSS Goes HERE -->
    {% endblock %}


    <!-- font awesome: icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static 'setups/favicons/Oxygen-Icons.org-Oxygen-Actions-rating.ico' %}">

</head>
<body>
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class = "navbar-brand" href = "/"><img class = "logo-img" src="{% static 'setups/images/gliflinklogo.png' %}"></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    AboutUs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/aboutus/introduction">Introduction</a>
                    <a class="dropdown-item" href="/aboutus/glifers/OB">GLIFERS</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/announcement">Announcements <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    Daily
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/daily/overview">Overview</a>
                    <a class="dropdown-item" href="/daily/newsclipping">Daily News Clipping</a>
                    <a class="dropdown-item" href="/daily/market">Daily Market Analysis</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/indepthanalysis">In-depth Analysis <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/recruiting">Recruiting <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    GLIFERS-Only
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/gliferonly/form_archive">Form Archive</a>
                    <a class="dropdown-item" href="/gliferonly/resume_coaching">Resume Coaching</a>
                </div>
            </li>
        </ul>

        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class = "authentification greeting">
                    Hello, {{ user.glifer.name_en }}! 
                </li>
                <li class = "authentification"> <a class = "auth-link" href="/accounts/glifer/userinfo/{{ user.pk }}">Info</a> </li>
                <li class = "authentification"> <a class = "auth-link" href="{% url 'logout' %}">Logout</a> </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class = "authentification"> <a class = "auth-link" href="{% url 'login' %}">Login</a> </li>
                <li class = "authentification"> <a class = "auth-link" href="{% url 'signup' %}">Sign up</a> </li>
            </ul>
        {% endif %}

        </div>
    </nav>
    
    {% block body %}
    <!-- Contents Goes HERE -->
    {% endblock %}

    <!-- footer -->
    <div class="fixed-bottom bg-dark text-muted">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="modal" data-target="#contactus">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#devcopy">Developers & Copyright</a>
            </li>
        </ul>
    </div>

    <!-- modal for link -->
    <div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="contactusLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="contactusLabel">Contact Us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p> E-mail: ehdals56@naver.com </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- modal for link -->
    <div class="modal fade" id="devcopy" tabindex="-1" role="dialog" aria-labelledby="devcopyLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="devcopyLabel">Developers & Copyright</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>© 2018 - 2019 4th GLIFER, Dongmin Kim</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>    
    </div>

    <!-- javascripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    

    
    {% block js %}
    <!-- Additional JS Goes HERE -->
    {% endblock %}
    </body>
</html>
        
        
              
    
    
    