{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF Notice"/>
<meta property="og:description" content= "{{ post.title }}"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block body %}
    <div class = "container container-border">
        <h1>{{post.title}}</h1>
        <hr>
        <div class = "text-right">
            <span>Written at {{ post.written_date }}, by {{post.writer.name_en}}</span>
            <hr>
        </div>
        <div>
            {% if post.attached_file != '' %}
                <hr>
                <span>첨부파일: {{post.attached_file}}</span>
                <button type="button" class="btn btn-outline-dark" onclick="location.href = '/notice/{{post.pk}}/download'">Download</button>
                <hr>
            {% endif %}
        </div>
        <div class = "post-content">
            {{ post.content | safe }}
        </div>
    </div>
{% endblock %}




