/* navbar links */


.dropdown-toggle::after {
    display:none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

a {
    color: white;
}

.logo-img {
    width: 100px;
}

a:hover {
    color: white;
}

.authentification {
    padding-right: 0.2em;
    padding-left: 0.2em;
}