<!-- navbar -->
{% include "../partials/header.html" %}
<!-- 참조! -->
<!-- https://formden.com/form-builder/ -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3>2019 상반기 GLIF Recruiting</h3>
            <form method="post">
            <div class="form-group ">
            <label class="control-label " for="name">
            Name
            </label>
            <input class="form-control" id="name" name="name" type="text"/>
            </div>
            <div class="form-group ">
            <label class="control-label " for="date">
            Birthday
            </label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
            </div>
            <div class="form-group ">
            <label class="control-label requiredField" for="email">
            Email
            <span class="asteriskField">
                *
            </span>
            </label>
            <input class="form-control" id="email" name="email" type="text"/>
            </div>
            <div class="form-group ">
            <label class="control-label " for="tel">
            Telephone #
            </label>
            <input class="form-control" id="tel" name="tel" type="text"/>
            </div>
            <div class="form-group ">
            <label class="control-label " for="text2">
            학번
            </label>
            <input class="form-control" id="text2" name="text2" type="text"/>
            </div>
            <div class="form-group ">
            <label class="control-label " for="text3">
            학년
            </label>
            <input class="form-control" id="text3" name="text3" type="text"/>
            <span class="help-block" id="hint_text3">
            ex) 3학년 1학기 재학중
            </span>
            </div>
            <div class="form-group ">
            <label class="control-label " for="textarea">
            Extra Curricular Activities (Work Experiences, Club Activities, Awards &amp; Honors, etc)
            </label>
            <textarea class="form-control" cols="40" id="textarea" name="textarea" rows="10"></textarea>
            <span class="help-block" id="hint_textarea">
            동아리활동, 수상경력, 공모전, 인턴경험 등의 사항을 적어주세요.
            </span>
            </div>
            <div class="form-group ">
            <label class="control-label ">
            수강한 과목/ 수강중인 과목
            </label>
            <div class=" ">
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="Asset Pricing"/>
                Asset Pricing
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="Financial Economics"/>
                Financial Economics
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="Financial Derivatives"/>
                Financial Derivatives
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="재무관리"/>
                재무관리
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="회계원리"/>
                회계원리
                </label>
            </div>
            <div class="checkbox">
                <label class="checkbox">
                <input name="checkbox" type="checkbox" value="Money &amp; Banking"/>
                Money &amp; Banking
                </label>
            </div>
            </div>
            </div>
            <div class="form-group ">
            <label class="control-label " for="textarea1">
            1.	글리프에 지원하게 된 동기를 서술해주세요.
        학회에 들어온다면, 학회를 통해 얻고자 하는 것은 무엇인지 서술해 주세요.
            </label>
            <textarea class="form-control" cols="40" id="textarea1" name="textarea1" rows="10"></textarea>
            </div>
            <div class="form-group ">
            <label class="control-label " for="textarea2">
            2. 졸업 후에 어떤 분야에서 일을 하고 싶은지, 혹은 어떤 특정 금융업에 관심이 있는지 설명해주세요
            </label>
            <textarea class="form-control" cols="40" id="textarea2" name="textarea2" rows="10"></textarea>
            </div>
            <div class="form-group">
            <div>
            <button class="btn btn-primary" name="submit" type="submit">
                Submit
            </button>
            </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
{% include "../partials/footer.html" %}
