{% extends 'setups/base.html' %}

{% block og %}
<meta property="og:title" content= "GLIF"/>
<meta property="og:description" content= "Global Leaders In Finance"/>
<meta property="og:image" content= "https://images.pexels.com/photos/867092/pexels-photo-867092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
{% endblock %}

{% block css %}

{% load staticfiles %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'setups/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'setups/css/home.css' %}">

<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">

{% endblock %}

{% block body %}      
        <!-- Header -->
        <header class="masthead">
          <div class="container masthead-container">
            <div class="intro-text">
              <div class="intro-lead-in">Welcome To GLIF!</div>
              <div class="intro-heading text-uppercase">GLOBAL LEADERS IN FINANCE</div>
              <a class="btn btn-dark btn-xl text-uppercase js-scroll-trigger" href="/aboutus/introduction/">More Info</a>
            </div>
          </div>
        </header>
      
        <!-- Services -->
        <section id="aim">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Objective</h2>
                <h3 class="section-subheading text-muted">GLIF가 추구하는 길</h3>
              </div>
            </div>
            <hr>
            <div class="row text-center">
              <div class="col-md-3">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-globe-asia fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Global</h4>
                <p class="text-muted">우리의 시선은 더 넓은 세계를 바라봅니다.</p>
              </div>
              <div class="col-md-3">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Leaders</h4>
                <p class="text-muted">우리는 각자의 자리에서 최고가 되고자 합니다.</p>
              </div>
              <div class="col-md-3">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">In</h4>
                <p class="text-muted">그리고 그 길을 함께 나아갑니다.</p>
              </div>
              <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Finance</h4>
                    <p class="text-muted">금융시장으로 가는 길의 첫 시작, GLIF 입니다.</p>
                </div>
            </div>
          </div>
        </section>
      
        <!-- History -->
        <section class = "bg-light" id="about">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Curriculum</h2>
                <h3 class="section-subheading text-muted">GLIF Programs for Financial Experts</h3>
              </div>
            </div>
            <hr>    
            <div class="row">
              <div class="col-lg-12">
                <ul class="timeline">
                  <li>
                    <div class="timeline-image">
                      <img class="rounded-circle img-fluid" src="../static/setups/images/cur/sessions.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="subheading">Sessions</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                            심도있는 Academic Background 학습 및 금융시장 전반의 다양한 이슈에 대한 리서치를 진행하며, 이를 바탕으로한 In-Depth Report 작성 및 토론을 진행함으로써 금융시장의 프로패셔널로서의 첫 걸음을 딛습니다.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-image">
                      <img class="rounded-circle img-fluid" src="../static/setups/images/cur/daily.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="subheading">Daily Report</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">금융시장에 대한 보다 실용적인 접근을 위해 Daily-basis 금융시장 Follow-up을 진행, 한국을 포함한 글로벌 금융시장의 동향을 파악합니다.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-image">
                      <img class="rounded-circle img-fluid" src="../static/setups/images/cur/ob.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="subheading">OB초청 강연 및 NETWORKING</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">국내외 유수의 은행, 증권사, 자산운용사, 금융공기업 등 다양한 직군에 종사하는 OB GLIFERs와의 만남을 통해 초청강연, 모의 인터뷰, 레쥬메 컨설팅 등을 포함한 Networking 기회를 제공합니다.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      
        <section id="services">
            <div class="container">
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact US</h2>
                </div>
                </div>
                <hr>
                <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-MAIL</h4>
                    <p class="text-muted">sitemanage.glif@gmail.com</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PHONE</h4>
                    <p class="text-muted">010-2732-7793 (4-5기 회장 김동민) </p>
                </div>
            </div>
            </section>
      
        
      

{% endblock %}
