{% extends 'setups/base.html' %}

{% block body %}
    <div class = "container">
        <p class = "lead">GLIFer user information</p>
        <hr>
        <div class = "row">
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn-dark">Edit!</button>
                </form>
            </div>
            
        </div>
    </div>
    
{% endblock %}
