{% extends 'setups/base.html' %}

{% block body %}
<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3">
            <p class = "lead">Daily</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark active"> <a href="/daily/overview">Overview</a> </li>
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/newsclipping">Daily News Clipping</a></li>
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/market">Daily Market Analysis</a></li>
            </div>
        </div>
        <!-- contents -->
        <div class = "col-md-9">
                <!-- overall index -->
                <iframe frameborder="0" scrolling="no" height="350" width="300" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.forexprostools.com/market_quotes.php?force_lang=1&tabs=1,2,5,3&tab_1=1,2,3,6,9,11,155,2111&tab_2=27,166,172,175,178,179,23660,959206&tab_3=43413,43507,43480,43525,43493,43430,43404,43433&tab_4=8830,8831,8832,8833,8836,8849,8862,959211&tab_5=8907,8906,8905,8880,8895,8899,8986,8898&select_color=000000&default_color=0059b0"></iframe>
                <!-- calendar -->
                <iframe src="https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=110,43,17,42,5,178,32,12,26,36,4,72,10,14,48,35,37,6,122,41,22,11,25,39&calType=week&timeZone=88&lang=18" width="650" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
                <!-- exr     -->
                <!-- <iframe src="https://www.widgets.investing.com/live-currency-cross-rates?theme=darkTheme&pairs=1,3,2,6,9,11,13923,13924,1921,13922" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe> -->
            
                <!-- commod -->
                <!-- <iframe src="https://www.widgets.investing.com/live-commodities?theme=darkTheme&pairs=8833,8849,8830" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe> -->

                <!-- stk indice -->
                <!-- <iframe src="https://www.widgets.investing.com/live-indices?theme=darkTheme&pairs=166,27,172,177,175,178,179" width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe> -->

                <!-- interest rate -->
                <!-- <iframe frameborder="0" scrolling="no" height=50 width="474" allowtransparency="true" marginwidth="0" marginheight="0" src="https://sslirates.forexprostools.com/index.php?rows=4&bg1=FFFFFF&bg2=F1F5F8&text_color=333333&enable_border=show&border_color=0452A1&header_bg=0452A1&header_text=FFFFFF&force_lang=1" align="center"></iframe> -->

                <!-- stock market - leading stocks : 물어보자 -->
        </div>
    </div>
</div>
{% endblock %}
