<!-- navbar -->
{% include "../../partials/header.html" %}
<!-- 참조! -->
<!-- https://formden.com/form-builder/ -->


<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            
            <h3>2019 상반기 GLIF Recruiting</h3>

            <form action="" method="post">
                <div class = "form-group">
                    <h6>Personal Information</h6>
                    <ul class="list-unstyled">
                            <li class="media">
                                <input type = "image" src = "../../../static/images/man-user-128.png" >
                                <div class="media-body">
                                    <table>
                                        <TR>
                                            <TD>
                                                <label class="control-label" for="name">
                                                    Name
                                                </label>
                                            </TD>
                                            <TD>
                                                <input class="form-control" id="name" name="name" type="text"/>
                                            </TD>
                                        </TR>
                                        <TR>
                                            <TD>
                                                <label class="control-label" for="phone">
                                                    Phone Number
                                                </label>
                                            </TD>
                                            <TD>
                                                <input class="form-control" id="phone" name="phone" type="tel"/>
                                            </TD>
                                        </TR>
                                        <TR>
                                            <TD>
                                                <label class="control-label" for="birth">
                                                    생년월일
                                                </label>
                                            </TD>
                                            <TD>
                                                <input class="form-control" id="birth" name="birth" type="date" />
                                            </TD>
                                        </TR>
                                        <TR>
                                            <TD>
                                                <label class="control-label" for="email">
                                                    E-mail
                                                </label>
                                            </TD>
                                            <TD>
                                                <input class="form-control" id="email" name="email" type="email" />
                                            </TD>
                                        </TR>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    
                </div>

                <div class = "form-group">
                    <h6>Academic Information</h6>
                    <table>
                        <TR>
                            <TD>
                                <label class="control-label" for="studentId">
                                    학번
                                </label>
                            </TD>
                            <TD>
                                <input class="form-control" id="studentId" name="studentId" type="text"/>
                            </TD>
                        </TR>
                        <TR>
                            <TD>
                                <label class="control-label" for="schyr">
                                    학년
                                </label>
                            </TD>
                            <TD class = "form-inline">
                                <span>(2019년 1학기 기준)</span>
                                <input class="form-control" id="schyr" name="schyr_yr" type="number" min = "1" max = "4"/> <span>학년</span>
                                <input class="form-control" id="schyr" name="schyr_sm" type="number" min = "1" max = "2" /> <span>학기</span>
                                <input class="form-control" id="schyr" name="schyr_grad" type="month"/> <span>졸업 예정</span>
                            </TD>
                        </TR>
                    </table>
                </div>

                <div class = "form-group">
                    <h6>Extracurricular Activities</h6>
                    <label class="control-label" for="extra">
                        동아리활동, 수상경력, 공모전, 인턴경험 등의 사항을 적어주세요.
                    </label>
                    <textarea class="form-control" cols="40" id="extra" name="extra" rows="10"></textarea>
                </div>

                <div class = "form-group">
                    <h6>Others</h6>
                    <table>
                        <TR>
                            <TD>
                                <label class="control-label" for="testprep">
                                    CPA, CFA, 국제FRM등 다른 특별한 시험을 준비하고 계십니까? 
                                    준비하고 계신다면 어떤 시험을 준비하고 계십니까?
                                </label>
                            </TD>
                            <TD class = "form-inline">
                                <input class="form-control" id="extra" name="extra" type="radio"/>Yes
                                <span class="checkmark"></span>
                                <input class="form-control" id="testprep_detail" name="testprep_detail" type="text"/>
                                <input class="form-control" id="extra" name="extra" type="radio" checked="checked">No
                                <span class="checkmark"></span>
                            </TD>
                        </TR>
                        <TR>
                            <TD>
                                <label class="control-label" for="willyou">
                                    최소 2학기 이상 연속으로 활동 하셔야 합니다. 그렇지 않으면 정회원 등록이 불가능합니다. 가능하십니까?
                                </label>
                            </TD>
                            <TD class = "form-inline">
                                <input class="form-control" id="willyou" name="willyou" type="radio"/>Yes
                                <span class="checkmark"></span>
                                <input class="form-control" id="willyou" name="willyou" type="radio" checked="checked">No
                                <span class="checkmark"></span>
                            </TD>
                        </TR>
                        <TR>
                            <TD>
                                <label class="control-label" for="millitary">
                                    군 미필자인 경우, 군대는 언제 가실 계획이십니까?
                                </label>
                            </TD>
                            <TD>
                                <input class="form-control" id="millitary" name="millitary" type="text"/>
                            </TD>
                        </TR>
                        <TR>
                            <TD>
                                <label class="control-label" for="course">
                                    수강예정/수강중인 과목
                                </label>
                            </TD>
                            <TD>
                                <input type="checkbox">
                                Asset Pricing
                                <span class="checkmark"></span><br>
                                    
                                <input type="checkbox">
                                Financial Economics
                                <span class="checkmark"></span><br>
                                    
                                <input type="checkbox">
                                Financial Derivatives
                                <span class="checkmark"></span><br>
                                    
                                <input type="checkbox">
                                Money and Banking
                                <span class="checkmark"></span><br>
                                    
                                <input type="checkbox">
                                Financial Management(재무관리)
                                <span class="checkmark"></span><br>
                                    
                                <input type="checkbox">
                                Introduction to Financial Accounting(회계원리)
                                <span class="checkmark"></span><br>
                            </TD>
                        </TR>
                    </table>
                </div>

                <div class="form-group">
                    <label class="control-label " for="glifmotive">
                    1.	글리프에 지원하게 된 동기를 서술해주세요.
                    학회에 들어온다면, 학회를 통해 얻고자 하는 것은 무엇인지 서술해 주세요.
                    </label>
                    <textarea class="form-control" cols="40" id="glifmotive" name="glifmotive" rows="10"></textarea>
                </div>
                
                <div class="form-group">
                    <label class="control-label " for="futureplan">
                    2. 졸업 후에 어떤 분야에서 일을 하고 싶은지, 혹은 어떤 특정 금융업에 관심이 있는지 설명해주세요
                    </label>
                    <textarea class="form-control" cols="40" id="futureplan" name="futureplan" rows="10"></textarea>
                </div>

                
                <div>
                    <button class="btn btn-dark" name="submit" type="submit">
                        Save
                    </button>
                    <button class="btn btn-dark" name="submit" type="submit">
                        Submit
                    </button>
                </div>
            </form>

            
            </div>
            </form>
        </div>
    </div>
</div>

<!-- footer -->
{% include "../../partials/footer.html" %}
