{% extends 'setups/base.html' %}

{% block body %}

<div class = "container">
    <div class = "row">
        <!-- sidebar -->
        <div class = "col-md-3">
            <p class = "lead">Daily</p>
            <div class = "list-group">
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/overview">Overview</a> </li>
                <li class = "list-group-item list-group-item-dark"> <a href="/daily/newsclipping">Daily News Clipping</a></li>
                <li class = "list-group-item list-group-item-dark active"> <a href="/daily/market">Daily Market Analysis</a></li>
            </div>
        </div>
        <div class = "col-md-9">
            <div class = "container">
                <div class="jumbotron text-center">
                    <h1 class="display-4">컨텐츠 준비중!</h1>
                    <p class="lead">On Maintenance</p>
                    <hr class="my-4">
                    <p>준비중입니다.</p>
                </div>
            </div>
        </div>
        <!-- contents -->
        <div style = "display:none;" class = "col-md-9">
            <p class = "lead">Daily Market Analysis</p>
            <!-- tables -->
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">제목</th>
                        <th scope="col">첨부파일</th>
                        <th scope="col">등록일</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{ post.id }}</th>
                            <td>
                                {{ post.title }}
                                {% if request.user == post.writer.user %}
                                    <button type="button" class="btn btn-outline-dark btn-download" onclick="location.href = '/daily/market/{{post.pk}}/update'"><i class="far fa-edit"></i></button>
                                    <button type="button" class="btn btn-outline-dark btn-download" onclick="location.href = '/daily/market/{{post.pk}}/delete'"><i class="fas fa-trash-alt"></i></button>
                                {% endif %}
                            </td>

                            <td>
                                <button type="button" class="btn btn-outline-dark btn-download" onclick="location.href = '/daily/market/{{post.pk}}/create_report'"><i class="far fa-file"></i></button>
                            </td> 

                            <td>{{ post.written_date }}</td>
                            <td>{{ post.writer }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
        
                    <!-- previous -->
                    {% if page_obj.has_previous %}
                    <li class = "page-item">
                        <a class = "page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        Previous
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                    {% endif %}
            
                    <!-- numbers -->
                    {% for i in page_range %}
                    {% if page_obj.number == i %}
                        <li class = "active page-item"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class = "page-item"><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
            
                    <!-- next -->
                    {% if page_obj.has_next %}
                    <li class = "page-item">
                        <a class = "page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            Next
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        
            <div class = "row align-items-center justify-content-center">
                {% if request.user.glifer.is_authorized %}
                    <button type="button" class="btn btn-outline-dark dailybtn" onclick="location.href = '/daily/market/new'">Add Daily</button>
                {% endif %}
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#schedule">
                        Check Schedule
                </button>
            </div>
    
            <!-- Modal -->
            <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="scheduleLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="scheduleLabel">Schedules</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">날짜</th>
                                    <th scope="col">WSJ</th>
                                    <th scope="col">FT</th>
                                    <th scope="col">BB</th>
                                    <th scope="col">Market</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        </div>

    </div>
</div>

{% endblock %}
