<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Daily Market Update</h1>
        <p>* All rates are as of the end of previous business day, and % change is DoD</p>
        <div class = "form-group">
            <div>
                <label for="{{ form.title.id_for_label }}">Title: </label>
                {{ post.title }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class = "lead">Daily Dataset</p>
                <!-- exr -->
                <div class = "form-group">
                    <h6>Currency Exchange Rates</h6>
                    <hr>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">FX</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">EUR-USD</th>
                                <td>
                                    {{ post.e_u_cl }}
                                </td>
                                <td>
                                    {{ post.e_u_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">USD-KRW</th>
                                <td>
                                    {{ post.u_k_cl }}
                                </td>
                                <td>
                                    {{ post.u_k_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>

                <!-- bdrates -->
                <div class = "form-group">
                    <h6>Rates and Bonds</h6>
                    <hr>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">United States</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">Federal Reserve Target Rate</th>
                                <td>
                                    {{ post.fed_cl }}
                                </td>
                                <td>
                                    {{ post.fed_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">2-10 Year Spread</th>
                                <td>
                                    {{ post.spread_cl }}
                                </td>
                                <td>
                                    {{ post.spread_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">2-Year T-Notes</th>
                                <td>
                                    {{ post.usyr2_cl }}
                                </td>
                                <td>
                                    {{ post.usyr2_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">10-Year T-bonds</th>
                                <td>
                                    {{ post.usyr10_cl }}
                                </td>
                                <td>
                                    {{ post.usyr10_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">South Korea</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">BoK Interest Rate</th>
                                <td>
                                    {{ post.bok_cl }}
                                </td>
                                <td>
                                    {{ post.bok_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">KTB 3-Year</th>
                                <td>
                                    {{ post.kryr3_cl }}
                                </td>
                                <td>
                                    {{ post.kryr3_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">KTB 10-Year</th>
                                <td>
                                    {{ post.kryr10_cl }}
                                </td>
                                <td>
                                    {{ post.kryr10_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>

                <!-- stk -->
                <div class = "form-group">
                    <h6>Stock Indices</h6>
                    <hr>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">US</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">Dow Jones</th>
                                <td>
                                    {{ post.dj_cl }}
                                </td>
                                <td>
                                    {{ post.dj_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">S&P 500</th>
                                <td>
                                    {{ post.sp_cl }}
                                </td>
                                <td>
                                    {{ post.sp_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">NASDAQ</th>
                                <td>
                                    {{ post.nas_cl }}
                                </td>
                                <td>
                                    {{ post.nas_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">South Korea</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">KOSPI</th>
                                <td>
                                    {{ post.ksp_cl }}
                                </td>
                                <td>
                                    {{ post.ksp_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">KOSDAQ</th>
                                <td>
                                    {{ post.ksd_cl }}
                                </td>
                                <td>
                                    {{ post.ksd_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">Japan</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">NIKKEI 225</th>
                                <td>
                                    {{ post.nik_cl }}
                                </td>
                                <td>
                                    {{ post.nik_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">HONGKONG</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">Hang Seng</th>
                                <td>
                                    {{ post.hk_cl }}
                                </td>
                                <td>
                                    {{ post.hk_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>                
                </div>

                <!-- comm -->
                <div class = "form-group">
                    <h6>Commodities</h6>
                    <hr>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">Energy</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">Brent Crude Oil</th>
                                <td>
                                    {{ post.bco_cl }}
                                </td>
                                <td>
                                    {{ post.bco_ch }}
                                </td>
                            </tr>
                            <tr>
                                <th scope = "row">WTI</th>
                                <td>
                                    {{ post.wti_cl }}
                                </td>
                                <td>
                                    {{ post.wti_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">Metal</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">Gold</th>
                                <td>
                                    {{ post.gd_cl}}
                                </td>
                                <td>
                                    {{ post.gd_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead class = "thead-light">
                            <th scope="col">Index</th>
                            <th scope="col">Closing</th>
                            <th scope="col">Change</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope = "row">BDI</th>
                                <td>
                                    {{ post.bdi_cl }}
                                </td>
                                <td>
                                    {{ post.bdi_ch }}
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>

            <div class="col">
                <p class = "lead">Daily Market Recap</p>
                <div class = "form-group">
                    <h6>Americas</h6>
                    <button class = "btn btn-dark">Add Recaps</button>
                </div>
                <div class = "form-group">
                    <h6>EMEA</h6>
                    <button class = "btn btn-dark">Add Recaps</button>
                </div>
                <div class = "form-group">
                    <h6>APAC</h6>
                    <button class = "btn btn-dark">Add Recaps</button>
                </div>
                <div class = "form-group">
                    <h6>Americas</h6>
                    <button class = "btn btn-dark">Add Recaps</button>
                </div>
            </div>
        </div>    

        <div class="form-group">
            <input type="submit" class="form-submit" value="Submit"/>
        </div>
    </form>
    
</div>