{% extends 'setups/base.html' %}

{% block body %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'daily_market/css/new.css' %}">
{% endblock %}
<div class="container">
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% load crispy_forms_tags %}

        <h1>Daily Market Update</h1>
        <p>* All rates are as of the end of previous business day, and % change is DoD</p>
        {{ form.title|as_crispy_field }}


        

        <p class = "lead">Daily Dataset</p>

        <!-- exr -->
        <hr>
        <h6>Currency Exchange Rates</h6>
        <hr>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">FX</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">EUR-USD</th>
                    <td>
                        {{ form.e_u_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.e_u_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">USD-KRW</th>
                    <td>
                        {{ form.u_k_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.u_k_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- bdrates -->
        <hr>
        <h6>Rates and Bonds</h6>
        <hr>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">United States</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">Federal Reserve Target Rate</th>
                    <td>
                        {{ form.fed_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.fed_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">2-10 Year Spread</th>
                    <td>
                        {{ form.spread_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.spread_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">2-Year T-Notes</th>
                    <td>
                        {{ form.usyr2_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.usyr2_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">10-Year T-bonds</th>
                    <td>
                        {{ form.usyr10_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.usyr10_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>    

        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">South Korea</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">BoK Interest Rate</th>
                    <td>
                        {{ form.bok_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.bok_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">KTB 3-Year</th>
                    <td>
                        {{ form.kryr3_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.kryr3_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">KTB 10-Year</th>
                    <td>
                        {{ form.kryr10_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.kryr10_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>   

        <!-- stk -->
        <hr>
        <h6>Stock Indices</h6>
        <hr>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">US</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">Dow Jones</th>
                    <td>
                        {{ form.dj_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.dj_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">S&P 500</th>
                    <td>
                        {{ form.sp_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.sp_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">NASDAQ</th>
                    <td>
                        {{ form.nas_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.nas_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">South Korea</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">KOSPI</th>
                    <td>
                        {{ form.ksp_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.ksp_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">KOSDAQ</th>
                    <td>
                        {{ form.ksd_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.ksd_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">Japan</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">NIKKEI 225</th>
                    <td>
                        {{ form.nik_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.nik_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">HONGKONG</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">Hang Seng</th>
                    <td>
                        {{ form.hk_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.hk_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>                

        <!-- comm -->
        <hr>
        <h6>Commodities</h6>
        <hr>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">Energy</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">Brent Crude Oil</th>
                    <td>
                        {{ form.bco_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.bco_ch|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <th scope = "row">WTI</th>
                    <td>
                        {{ form.wti_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.wti_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">Metal</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">Gold</th>
                    <td>
                        {{ form.gd_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.gd_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class = "table daily-table">
            <thead class = "thead-light">
                <th class = "component" scope="col">Index</th>
                <th scope="col">Closing</th>
                <th scope="col">Change</th>
            </thead>
            <tbody>
                <tr>
                    <th scope = "row">BDI</th>
                    <td>
                        {{ form.bdi_cl|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.bdi_ch|as_crispy_field }}
                    </td>
                </tr>
            </tbody>
        </table>    

        <div class = "row align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-dark ">Save!</button>
        </div>
    </form>
    
</div>

{% endblock %}